<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NautilusExtensions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NautilusExtensions.Properties.Settings>
            <setting name="NautilusExtensions_ReportingWebService_ReportingService"
                serializeAs="String">
                <value>http://example.com/ReportServer/ReportService.asmx</value>
            </setting>
            <setting name="SmtpServer" serializeAs="String">
                <value>smtp-ut</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="EpicLauncherUri" serializeAs="String">
                <value>http://example.com/labsolutions/nautilusweb/epiclauncher</value>
            </setting>
            <setting name="ImageResultBrowserUri" serializeAs="String">
                <value>http://example.com/labsolutions/nautilusweb/imageresults</value>
            </setting>
        </NautilusExtensions.Properties.Settings>
    </applicationSettings>
  <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>